<div class="user-main-container" [@flyIn]="active">
    <div class="row">
        <div class="col-sm-9">
            <router-outlet></router-outlet>
        </div>
        <div class="col-sm-3">
            <div class="list-group">
                <a routerLink="line" class="list-group-item">Line Chart</a>
                <a routerLink="normal" class="list-group-item">Normal</a>
                <a routerLink="map" class="list-group-item">Map</a>
            </div>
        </div>
    </div>
</div>